.DS_Store
PetPocket.xcodeproj/xcuserdata
**/xcuserdata/
*/.xcuserdatad

PetPocket/Secrets.plist
PetPocket/Secrets.plist.local.backup
PetPocket/Secrets.plist*

*.xcuserstate

PetPocket.xcodeproj/project.xcworkspace/xcuserdata